.footer {
    background-color: rgba(13, 110, 253, 1);
}

.footer img {
    max-width: 100px;
    height: auto;
}

.footer a i:hover {
    color: black;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    color: black;
    text-decoration: none;
}

.footer small {
    font-size: 12px;
}

.text-white {
    font-weight: 500;
}