@import url('https://fonts.cdnfonts.com/css/metropolis-2');

/*FONTE CRINGE*/
@import url('https://fonts.cdnfonts.com/css/lostar');
/*FONTE CRINGE*/



.disable-click {
    pointer-events: none;
}

body {
    position: relative;
    background: url('https://imgur.com/DPnU1aU.png') repeat;
    background-size: 10%;
    font-family: 'Metropolis', Courier;
}

.sale {
    font-size: 8em;
    text-shadow: 8px 8px 0 rgba(0, 89, 254, 1);
    text-align: center;
    line-height: 0.9;
    font-family: 'Arial', sans-serif;
    font-weight: 900;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.carousel-item img {
    height: auto;
    width: 100%;
    margin: 0 auto;
}

.carousel-indicators .active {
    background-color: rgba(0, 89, 254, 1);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: black;
    border-radius: 15px;
}